# React
node_modules/
dist/
.env

# Bancos de dados locais
*.db
*.sqlite3

# Caches do Python
__pycache__/
*.py[cod]

# Ambiente virtual
venv/
.venv/

# Configurações de editores
.vscode/
.idea/

erro.log
main.svg

# Arquivo de Configurações (Arquivo)
.env
