# Bancos de dados locais
*.db

# Caches do Python
__pycache__/
*.py[cod]

# Ambiente virtual
venv/
.venv/

# Configurações de editores
.vscode/
.idea/

erro.log
main.svg

# Arquivo de Configurações (Arquivo)
.env